<div class="header">
  <div class="header-logo">
    <span>widegame.app</span> Moonlight 2020
  </div>
  <div class="header-right">
    <button (click)="logout()">Logout</button>
  </div>
  <div class="clear"></div>
</div>
<div class="nav">
  <div class="nav-items">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Dashboard</a>
    <a routerLink="/runners" routerLinkActive="active" class="nav-link">Running Teams</a>
    <a routerLink="/catchers" routerLinkActive="active" class="nav-link">Catching Teams</a>
    <a routerLink="/registration" routerLinkActive="active" class="nav-link">Registration</a>
    <a routerLink="/catches" routerLinkActive="active" class="nav-link">Live Catches</a>
    <a routerLink="/checkin" routerLinkActive="active" class="nav-link">Check-in</a>
    <a routerLink="/leaderboard" routerLinkActive="active" class="nav-link">Leaderboard</a>
    <a routerLink="/notifications" routerLinkActive="active" class="nav-link">Notifications</a>
    <a routerLink="/settings" routerLinkActive="active" class="nav-link">Settings</a>
    <div class="clear"></div>
  </div>
</div>
<!--  Preload loading gif -->
<img style="display: none" src="/assets/img/loading.gif" alt="Loading...">
