<div class="login-wrapper">

  <!--  Preload loading gif -->
  <img style="display: none" src="/assets/img/loading.gif" alt="Loading...">

  <div class="login-content">

    <div class="login-logo">
      <span>widegame.app</span> Moonlight 2020
    </div>

    <div *ngIf="loading" class="login-loader">
      <img src="/assets/img/loading.gif" alt="Loading...">
      <h2>Signing in...</h2>
    </div>

    <div *ngIf="!loading">

      <h1>Portal Login</h1>
      <p>Enter your login details below to access the admin portal. This is not the catcher's app - catchers please click <a>here</a> for the app.</p>

      <form (ngSubmit)="signIn()">
        <input class="login-input" placeholder="Email address" type="text" id="email" required [(ngModel)]="email"
               name="Email">
        <input class="login-input" placeholder="Password" type="password" id="password" required [(ngModel)]="password"
               name="Password">
        <div class="login-error" *ngIf="errorMessage">{{errorMessage}}</div>
        <button class="login-button" [disabled]="loading" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in
        </button>
      </form>

    </div>

  </div>
</div>
