<app-header></app-header>

<div class="wrapper">
  <h1 class="t-margin-bottom">Running Teams</h1>
  <p class="t-margin-bottom">Here you can manage all running teams for this event. All teams will show here, regardless of whether they have been disqualified or retired. There are currently <strong>{{ runnerCount }}</strong> total running teams in this game.</p>

  <div class="team-toolbar">
    <input type="search" placeholder="Search running teams" [(ngModel)]="searchTerm" (ngModelChange)="searchRunners()"><button (click)="searchRunners()">Search</button>
  </div>

  <div *ngIf="!runnerData" class="loader">
    <img src="/assets/img/loading.gif" alt="Loading...">
    <h2 class="t-purple">Loading...</h2>
  </div>

  <h2 *ngIf="searchTerm != ''" class="t-margin-bottom"><span class="t-normal">Results for </span>all<span class="t-normal"> teams containing</span> {{searchTerm}}</h2>
  <div  *ngFor="let runner of runnerView" class="col-4">
    <div class="team-card" (click)="searchTerm='test'">
      <div class="team-card-tags">
        <span class="bg-purple">Solo</span>
        <span class="bg-teal">Registered</span>
        <span class="bg-teal">Checked In</span>
        <div class="clear"></div>
      </div>
      <h2>{{ runner.name }}</h2>
      <p>Group: <span class="t-purple">Eccleston</span></p>
    </div>
  </div>

</div>
