<app-header></app-header>

<div class="wrapper">
  <div class="col-6 padding-sides">

    <section>
      <h1 class="t-margin-bottom">Dashboard</h1>
      <p>Welcome to the Moonlight 2020 admin portal. Here you can manage, register and check-in teams, watch catches as they happen and at the end of the game, see the leaderboard.</p>
      <p>If you need any help getting started or whilst you're using this portal or the catcher's app, click the help button at the top right of this page.</p>
    </section>

    <section class="bg-yellow">
      <h2>Warning!</h2>
      <p class="t-margin-none">The game has not yet been started, so catches cannot be made from the app. Register or discard all running and catching teams to start the game.</p>
    </section>

  </div>
  <div class="col-6 padding-sides">

    <section class="bg-teal">
      <strong>Game status: </strong>Pending (all runners haven't yet been registered)
    </section>

    <div class="col-6">
      <section class="bg-light">
        <p class="t-large t-center t-bold t-margin-none">{{runnerCount}}</p>
        <p class="t-center t-margin-none">Running Teams</p>
      </section>
    </div>

    <div class="col-6">
      <section class="bg-light">
        <p class="t-large t-center t-bold t-margin-none">{{catcherCount}}</p>
        <p class="t-center t-margin-none">Catching Teams</p>
      </section>
    </div>

    <div class="col-6">
      <section class="bg-light">
        <p class="t-large t-center t-bold t-margin-none">-</p>
        <p class="t-center t-margin-none">Catches Made</p>
      </section>
    </div>

    <div class="col-6">
      <section class="bg-light">
        <p class="t-large t-center t-bold t-margin-none">-</p>
        <p class="t-center t-margin-none">Participants</p>
      </section>
    </div>

  </div>
  <div class="clear"></div>
</div>
