body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: #7414DC;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0 5px;
  height: 42px;
}

tr:hover {
  background-color: #F1F1F1;
  border-color: #F1F1F1;
}

button, .btn {
  padding: 5px 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: white;
  background: #7414DC;
  border-radius: 0;
  border: none;
}

button i, .btn i {
  margin-right: 8px;
}

button:focus {
  outline: none;
}

input, textarea {
  padding: 5px 10px;
  background-color: white;
  border: 2px solid black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  display: block;
  color: black;
  margin-bottom: 25px;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
}

label {
  margin-bottom: 5px;
  display: block;
}

/* Standard classes */
.clear {
  clear: both;
}

.wrapper {
  max-width: 1100px;
  margin: 20px auto;
}

h1 {
  font-size: 2em;
}

.col-9 {
  width: 75%;
  float: left;
}

.col-8 {
  width: 66.6%;
  float: left;
}

.col-7 {
  width: 58.3%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-5 {
  width: 41.6%;
  float: left;
}

.col-4 {
  width: 33.3%;
  float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-5ths {
  width: 20%;
  float: left;
}

section {
  margin: 0 15px 25px 15px;
}

.padding-sides {
  padding: 0 10px;
  box-sizing: border-box;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 10px 15px;
}

.card-table {
  border: 2px solid #F1F1F1;
  margin-top: -30px;
  padding: 10px;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Background colors */
.bg-purple {
  background-color: #7414DC;
  color: white;
}

.bg-teal {
  background-color: #00A794;
  color: white;
}

.bg-red {
  background-color: #E22E12;
  color: white;
}

.bg-yellow {
  background-color: #FFE627;
  color: black;
}

.bg-light {
  background-color: #F1F1F1;
}

.bg-white {
  background-color: white;
  color: black;
}

/* Text Properties */

.t-purple {
  color: #7414DC;
}

.t-red {
  color: #E22E12;
}

.t-white {
  color: white;
}

.t-large {
  font-size: 50px;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-normal {
  font-weight: normal;
}

.t-bold {
  font-weight: 900;
}

.t-margin-bottom {
  margin-bottom: 16px;
}

.t-margin-top {
  margin-top: 16px;
}

.t-margin-none {
  margin: 0;
}

.t-capitalize {
  text-transform: capitalize;
}

/* Login */
.login-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #7414DC;
  /*background-image: url("/assets/img/login.jpg");*/
  background-size: cover;
  background-position: center;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
}

.login-content {
  width: 450px;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  text-align: center;
}

.login-logo {
  font-weight: 900;
  font-size: 26px;
  color: #7414DC;
  margin-bottom: 20px;
}

.login-logo span {
  color: white;
  background-color: black;
  padding: 4px 8px;
  font-weight: 900;
  font-size: 21px;
}

.login-input {
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

.login-input:focus {
  outline: none;
}

.login-error {
  color: white;
  background-color: #E22E12;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.login-button {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
}

/* Header */
.header {
  width: 100%;
  height: 81px;
}

.header-logo {
  float: left;
  padding: 23px;
  font-weight: 900;
  font-size: 26px;
  color: #7414DC;
}

.header-logo span {
  color: white;
  background-color: black;
  padding: 4px 8px;
  font-weight: 900;
  font-size: 21px;
  margin-right: 7px;
}

.header-right {
  float: right;
}

/* Navigation bar */
.nav {
  width: 100%;
  height: 72px;
  background-color: #F1F1F1;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
}

.nav-items {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.nav-items a {
  height: 70px;
  line-height: 70px;
  display: block;
  float: left;
  color: black;
  text-decoration: none;
  margin: 0 15px;
}

.nav-items a:hover {
  border-bottom: 1px solid black;
}

.nav-items .active, .nav-items .active:hover{
  color: #7414DC;
  border-bottom: 1px solid #7414DC;
}

/* Other styles */

.loader {
  text-align: center;
}

.team-toolbar {
  width: 100%;
  padding: 15px;
  background-color: #F1F1F1;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.team-toolbar .search {
  float: left;
}

.team-toolbar .search input {
  margin: 0;
  float: left;
  border: 2px solid gray;
  width: 300px;
}

.team-toolbar .search button {
  float: left;
  border: 2px solid #00A794;
  background-color: #00A794;
  padding: 5px 8px;
}

.team-toolbar .search button i {
  margin: 0;
}

.team-card {
  background-color: #F1F1F1;
  margin: 10px;
  padding: 8px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-card-tags span {
  float: left;
  font-size: 12px;
  padding: 2px 7px;
  margin-right: 8px;
}

.team-card h2 {
  margin: 8px;
}

.team-card p {
  margin: 0 8px 8px 8px;
}

.category-chooser {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid white;
  cursor: pointer;
}

.category-chooser-selected {
  border: 2px solid #7414DC;
  color: #7414DC;
}

.add-team-member {
  background-color: #F1F1F1;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.add-team-member-btn {
  background-color: #F1F1F1;
  padding: 10px 10px;
}

.add-team-member-btn h3 {
  margin: 5px 15px;
  float: left;
}

.add-team-member-sign {
  background-color: #D1D1D1;
  padding: 7px 10px;
  float: left;
}

.btn-next-right {
  margin: 20px 0;
  float: right;
}

.btn-prev-left {
  margin: 20px 0;
  float: left;
}

.btn-next-right::after {
  clear: both;
}

.stepper-error {
  color: #E22E12;
  display: block;
  float: right;
  padding: 25px 10px;
}

.contact-address {
  height: 124px;
}

.add-runner-btn {
  float: right;
  border: 2px solid #7414DC;
}

.qr-card h2 {
  float: left;
  height: 100px;
  line-height: 100px;
  width: calc(100% - 100px);
  text-align: center;
}

.qr-card img {
  float: right;
  display: block;
  background-color: white;
  height: 100px;
}

.quick-buttons {
  margin: 5px 0;
}


