body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* Standard classes */
.clear {
  clear: both;
}

.wrapper {
  max-width: 1100px;
  margin: 20px auto;
}

h1 {
  font-size: 2em;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-4 {
  width: 33.3%;
  float: left;
}

section {
  margin: 0 10px 20px 10px;
}

.padding-sides {
  padding: 0 10px;
  box-sizing: border-box;
}

.t-purple {
  color: #7414DC;
}

.t-large {
  font-size: 50px;
}

.t-center {
  text-align: center;
}

.t-normal {
  font-weight: normal;
}

.t-bold {
  font-weight: 900;
}

.t-margin-bottom {
  margin-bottom: 16px;
}

.t-margin-top {
  margin-top: 16px;
}

.t-margin-none {
  margin: 0;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 15px 20px;
}

/* Background colors */
.bg-purple {
  background-color: #7414DC;
  color: white;
}

.bg-teal {
  background-color: #00A794;
  color: white;
}

.bg-red {
  background-color: #E22E12;
  color: white;
}

.bg-yellow {
  background-color: #FFE627;
}

.bg-light {
  background-color: #F1F1F1;
}

/* Login */
.login-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #7414DC;
  background-image: url("/assets/img/login.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
}

.login-content {
  width: 450px;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  text-align: center;
}

.login-logo {
  font-weight: 900;
  font-size: 26px;
  color: #7414DC;
  margin-bottom: 20px;
}

.login-logo span {
  color: white;
  background-color: black;
  padding: 4px 8px;
  font-weight: 900;
  font-size: 21px;
}

.login-input {
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

.login-input:focus {
  outline: none;
}

.login-error {
  color: white;
  background-color: #E22E12;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.login-button {
  padding: 5px 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: white;
  background: #7414DC;
  border-radius: 0;
  border: none;
}

/* Header */
.header {
  width: 100%;
  height: 81px;
}

.header-logo {
  float: left;
  padding: 23px;
  font-weight: 900;
  font-size: 26px;
  color: #7414DC;
}

.header-logo span {
  color: white;
  background-color: black;
  padding: 4px 8px;
  font-weight: 900;
  font-size: 21px;
  margin-right: 7px;
}

.header-right {
  float: right;
}

/* Navigation bar */
.nav {
  width: 100%;
  height: 72px;
  background-color: #F1F1F1;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
}

.nav-items {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.nav-items a {
  height: 70px;
  line-height: 70px;
  display: block;
  float: left;
  color: black;
  text-decoration: none;
  margin: 0 15px;
}

.nav-items a:hover {
  border-bottom: 1px solid black;
}

.nav-items .active, .nav-items .active:hover{
  color: #7414DC;
  border-bottom: 1px solid #7414DC;
}

/* Other styles */

.loader {
  text-align: center;
}

.team-toolbar {
  width: 100%;
  padding: 15px;
  background-color: #F1F1F1;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.team-card {
  background-color: #F1F1F1;
  margin: 10px;
  padding: 8px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-card-tags span {
  float: left;
  font-size: 12px;
  padding: 2px 7px;
  margin-right: 8px;
}

.team-card h2 {
  margin: 8px;
}

.team-card p {
  margin: 0 8px 8px 8px;
}
