<app-header></app-header>

<div class="wrapper">
  <a routerLink="/runners">< Back to Runners</a>

  <div *ngIf="!runner" class="loader">
    <img src="/assets/img/loading.gif" alt="Loading...">
    <h2 class="t-purple">Loading...</h2>
  </div>

  <div *ngIf="runner">
    <h1 class="t-margin-bottom t-margin-top">{{runner.name}}</h1>
    <div class="team-card-tags">
      <span class="bg-purple t-capitalize">{{runner.category}}</span>
      <span class="bg-teal">Registered</span>
      <span class="bg-red">Not Checked In</span>
      <div class="clear"></div>
    </div>
  </div>
</div>
